p {
margin-top: 10px;
margin-left: 50px;
}

h1, h2, h3 {
font-family: 'Ubuntu', sans-serif;
}

h1 {
font-size: 30px;
font-style: bold;
color: #400000;
}

h2 {
font-size: 20px;
color: #600000;
}

h3 {
font-size: 20px;
color: #680000;
}

#list {
margin-left: 15px;
border-color: #CCCCCC;
border-style: groove;
border-width: 8px;
}